{{ $data := newScratch }}
{{ $data.Set "coin_select" "bitcoin" }}

<form name="dropForm">
  <select name="dropSelect" onchange="getOption()">
    <option value="bitcoin" selected="selected">Bitcoin (BTC)</option>
    <option value="ethereum">Ethereum (ETH)</option>
    <option value="litecoin">Litecoin (LTC)</option>
    <option value="avalanche-2">Avalanche (AVAX)</option>
    <option value="cardano">Cardano (ADA)</option>
    <option value="matic-network">Polygon (MATIC)</option>
    <option value="chainlink">Chainlink (LINK)</option>
    <option value="monero">Monero (XMR)</option>
    <option value="arbitrum">Arbitrum (ARB)</option>
    <option value="balancer">Balancer (BAL)</option>
    <option value="lido-dao">Lido DAO (LIDO)</option>
    <option value="joe">JOE (JOE)</option>  
    <option value="digibyte">DigiByte (DGB)</option>  
    <option value="ocean-protocol">Ocean Protocol (OCEAN)</option>  
    <option value="crypto-com-chain">Cronos (CRO)</option>
    <option value="vector-finance">Vector Finance (VTX)</option>  
    <option value="betswap-gg">Betswap.gg (BSGG)</option>
  </select>    
</form>

<script> 
  function getOption() {
    var strUser = document.getElementById("numberToSelect").value;
    {{ $data.Set "coin_select" strUser }}
  }
</script>

<script src="https://widgets.coingecko.com/coingecko-coin-converter-widget.js"></script>
<coingecko-coin-converter-widget  coin-id={{ $data.Get "coin_select" }} currency="usd" background-color="#dbe4f0" font-color="#1e0368" locale="en"></coingecko-coin-converter-widget>
